<h3> Your bookmarks: </h3>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>

<form action="/bookmarks" method="post">
  <input type="text" name="New_bookmark">
  <input type="submit" value="Submit new bookmark">
</form>
